node_modules/
server.out.log
server.err.log
server-runtime.log
server-stdout.log
server-stderr.log
.DS_Store
Thumbs.db
.gradle-user/
.android-user/
.tools/
mobile-web/
orgin/
android/.gradle/
android/app/build/
android/app/src/main/assets/
android/capacitor-cordova-android-plugins/
android/keystore/
android/local.properties
android/signing.properties
